$bg-color: #0a0c1c;
$text-color: #ffffff;
$purple: #ab5cdb;
$mobile: 62.5rem;

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  position: relative;
  background: $bg-color;
  font-family: 'Inter', sans-serif;
  height: 100vh;
  width: 100vw;
  display: grid;
  place-items: center;

  main {
    display: grid;
    grid-template-columns: 1fr 33.75rem;
    color: $text-color;
    max-width: 69.375rem;
    border-radius: 0.5rem;
    overflow: hidden;
    box-shadow: 0px 20px 20px -10px rgba(23, 25, 41, 0.203087);
    .left-col {
      grid-column: 1 / 2;
      padding: 4.438rem 5.938rem 3.688rem 4.469rem;
      h1 {
        font-size: 2.25rem;
        line-height: 2.75rem;
        margin-bottom: 1.563rem;
        span {
          color: $purple;
        }
      }
      p {
        font-size: 0.938rem;
        line-height: 1.563rem;
        opacity: 0.75;
        max-width: 23.375rem;
        margin-bottom: 4.5rem;
      }
      .business-states {
        display: flex;
        justify-content: space-between;
        max-width: 21.969rem;
        max-height: 3.5rem;
        .state {
          &__number {
            font-size: 1.5rem;
            line-height: 1.813rem;
          }
          &__name {
            font-family: 'Lexend Deca', sans-serif;
            font-size: 0.75rem;
            line-height: 1.563rem;
            letter-spacing: 0.063rem;
            text-transform: uppercase;
            opacity: 0.6;
          }
        }
      }
    }
    .right-col {
      background: $purple;
      grid-column: 2 / 3;
      .hero-img {
        opacity: 0.5;
        width: 100%;
        height: 100%;
      }
    }
  }
  footer {
    position: absolute;
    bottom: 4.375rem;
    color: $text-color;
  }
}

@media (max-width: $mobile) {
  body {
    main {
      grid-template-columns: 20.438rem;
      grid-template-rows: 15rem auto;
      .left-col {
        grid-column: 1;
        grid-row: 2 / span 2;
        padding: 2.5rem 1.969rem 2rem 1.969rem;
        text-align: center;
        h1 {
          font-size: 1.75rem;
          line-height: 2rem;
          margin-bottom: 1rem;
        }
        p {
          margin-bottom: 2.5rem;
        }
        .business-states {
          flex-direction: column;
          max-height: unset;
          .state {
            height: 4.5rem;
          }
        }
      }
      .right-col {
        grid-column: 1;
        grid-row: 1 / 2;
      }
    }
  }
}
